body {
    color: #404040;
    font-size: 12px;
    background-color: #f7f7f7;
    font-family: "Microsoft YaHei"
}

header, footer, nav, section, article, figure, figcaption {
    display: block
}

body, nav, figure, h1, h2, h3, h4, ul, ol, dl, li, p {
    margin: 0;
    padding: 0
}

h1 {
    font-size: 2em
}

h2 {
    font-size: 1.5em
}

li {
    list-style: none
}

a {
    color: #64676B;
    text-decoration: none
}

a:visited {
    color: #555;
}
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: 0;
    color: #F90;
}

a img {
    border: 0
}

b, em, strong {
    color: #7958d1
}

s {
    text-decoration: none
}


html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

.clearfix:before, .clearfix:after {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
}
.vertical-middle {
    vertical-align: middle;
}
.inline-block {
    display: inline-block;
}
.cl{
	clear:both;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.mr5 {
    margin-right: 5px;
}
.b12{
    font-size:12px;
    font-weight:bold;
}
.b14{
    font-size:14px;
    font-weight:bold;
}
.b16{
	font-size:16px;
	font-weight:bold;
}
.font12{
    font-size:12px;
}
.font14{
    font-size:14px;
}
.font16{
	font-size:16px;
}
.font-yahei{
	font-family: "Microsoft Yahei";
}
.mt5{
	margin-top:5px;
}
.mb10{
	margin-bottom:10px;
}
.mb20{
    margin-bottom:20px;
}
.mt10{
	margin-top:10px;
}
.mt20{
    margin-top:20px;
}
.ico{
	background-image: url(/assets/img/ico_png24.png);
	background-repeat: no-repeat;
}
.crumb-ico {
	width: 16px;
	height: 15px;
	background-position: 0px -276px;
}

.photo-ico {
	width: 24px;
	height: 18px;
	background-position: 0px -26px;
}
.original-ico {
	width: 21px;
	height: 21px;
	background-position: -1px -137px;
}
.media-ico {
	width: 24px;
	height: 18px;
	background-position: 0px -46px;
}
.keywords-ico {
    width: 24px;
    height: 23px;
    background-position: 0px -86px;
}
.download-ico2 {
	width: 19px;
	height: 19px;
	background-position: 0px -331px;
}
.down-rank-ico {
	width: 23px;
	height: 18px;
	background-position: 0px -67px;
}
.relative {
    position: relative;
}
#header {
    height: 252px;
    width: 100%;
    margin: 0 auto
}

.navbar-shutterstock {
	background: #f4f4f4;
	border-bottom: 1px solid #AFAFAF;
	margin-bottom: 13px;
	color: #333;
	width: 100%;
}

.navbar-shutterstock a {
	color: #333;
}
/*头部左边*/
.navbar-shutterstock .nav>li.active>a {
	padding-bottom: 12px;
	padding-left: 15px;
	border-left-color: #a9a9a9;
}

.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus
	{
	color: #222;
	text-decoration: none;
	background-color: #fff;
	box-shadow: none;
}

.navbar-shutterstock .nav>li>a {
	padding: 13px 15px 11px 15px;
	text-transform: uppercase;
}

.navbar-shutterstock .nav li a {
	border-left-color: #a9a9a9;
	font-weight: bold;
}

.navbar .nav>li>a {
	float: none;
	padding: 10px 15px 10px;
	color: #555;
	text-decoration: none;
	border-left: 1px solid #ccc;
}

.nav>li>a {
	display: block;
}

.navbar-shutterstock a {
	color: #333;
}

.navbar .nav>li>a {
	font-weight: bold;
}

.navbar-shutterstock .nav li:last-child a {
	border-right-color: #a9a9a9;
}

.navbar .nav>li:last-child>a {
	border-right: 1px solid #ccc;
}

.navbar-shutterstock .nav>li>a {
	padding: 13px 15px 11px 15px;
	text-transform: uppercase;
}

.navbar-shutterstock .nav li a {
	border-left-color: #a9a9a9;
	font-weight: bold;
}

/*头部右边*/
.navbar-shutterstock .navbar-inner-right {
	position: relative;
}

.navbar-shutterstock .nav-link, .navbar-shutterstock .navbar-text {
	position: relative;
	line-height: inherit;
	font-weight: bold;
	font-size: 0.8em;
}

.navbar-shutterstock .nav-link>a, .navbar-shutterstock .navbar-text {
	display: inline-block;
	padding: 13px 13px 11px 12px;
}
#navbar-signin:after {
	position: absolute;
	top: 14px;
	right: 0;
	height: 14px;
	border-right: 1px solid #b9b9b9;
	content: '';
}

/*顶部搜索*/

/* shutterstock logo */
#shutterstock_logo {
    width:200px;
}
.has_search_form #shutterstock_logo {
    float: left;
    margin-right: 24px;
}
.has_search_form #search_interface {
    margin-top: 7px;
}
#shutterstock_logo img {
  vertical-align: baseline;
}
#shutterstock_logo a:hover {
    opacity: .78;
}
.ie #shutterstock_logo a {
    zoom: 1;
}
.ie #shutterstock_logo a:hover img {
    filter: alpha(opacity=78);
}
/* end header */


/* main search bar */
.main_search_container {
    float: left;
    position: relative;
    width: 532px;
    padding: 4px;
    font-size: 13px;
    text-align: left;
    background-color: #e6e6e6;
    border-radius: 3px;
    /* serves as a table for stretch layout of bar, dropdown and button */
    display: table;
    border-spacing: 0;
    border-collapse: separate;
}

/* main search bar: layout containers */
.integrated_search_field {
    display: table-row;
}
.keyword_input,
.media_types,
.main_search_button {
    display: table-cell;
    vertical-align: middle;
}
.keyword_input {
    width: 96%;
}
.media_types {
    width: 2%;
    padding: 0 12px 0 10px;
    background-color: #fff;
    border: 1px solid #b4b4b4;
    border-left: none;
    color: #64676b;
}
.main_search_button {
    width: 2%;
}

/* main search bar components */
form[name=keyword_form]{
    margin: 0;
    padding: 0;
}
.keyword_input input[name=searchterm] {
    box-sizing: border-box;
    display: inline;
    width: 100%;
    height: 33px;
    margin: 0;
    padding: 0 0 0 8px;
    border: 1px solid #b4b4b4;
    border-right: none;
    border-radius: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #333;
    background-color: #fff;
}
.keyword_input input[name=searchterm], 
.keyword_input input[name=searchterm]:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -moz-transition: none;
    -webkit-transition: none;
    transition: none;
    outline: 0 none;
    border-color: #b4b4b4;
}
.main_search_button button {
    padding: 5px 20px 5px 20px;
    -webkit-border-radius: 0px 3.1px 3.1px 0px; /* 3.1 because of IE10 */
    border-radius: 0px 3.1px 3.1px 0px;
    line-height: 14px;
}
/* Media Type Menu (photos/footage) */
.media_select {
    position: relative;
}
.media_selected {
    color: #64676B;
    padding: 8px 0;
    white-space: nowrap;
    cursor: pointer;
}
/* pipe */
.media_selected:before {
    content: ""; 
    font-size: 17px;
    border-left: 1px solid #CCC;
    padding-left: 12px;
    position: relative;
    top: 1px;
}
/* caret */
.media_selected:after {
    font-size: 8px;
    color: #797979;
    content: " \25bc";
    position: relative;
    bottom: 1px;
    left: 2px;
}
.media_options {
    position: absolute;   
    top: 28px;
    left: 0;
    padding: 8px 0;   
    margin: 0;
    list-style-type: none;
    white-space: nowrap;
}
.media_options li {
    cursor: pointer;
    line-height: 20px;
    padding: 0 15px;
    min-width: 80px;
}
.media_options li.indent {
    padding-left: 24px;
}
.media_options li.line {
    border-top: 1px solid #E5E5E5;
    margin: 4px 0;
}
.media_options li:hover {
    background: #a5b2b9;
    color: #fff;
}
/* shadow and dropdown */
.dropdown,
.shadow,
.shadow2,
.shadow_gray,
.shadow_dark_gray {
    background-color: #ffffff;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border: 1px solid #afafaf;
    border: 1px solid #afafaf;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
    -moz-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
}
.shadow,
.shadow_dark_gray {
    padding: 0.15em 1em 1em 1.3em;
}
/* search bar layers */
.advanced_menu_open .advanced_trigger {
  z-index: 115;
}
.advanced_menu,
.media_options,
.autocomplete {
    z-index: 110;
}
button.gray, .button_gray {
    background-color: #8b8d90;
    background: -webkit-linear-gradient(top, #eceded 0, #8b8d90 3%, #64676b 100%);
    background: linear-gradient(to bottom, #eceded 0, #8b8d90 3%, #64676b 100%);
    border: 1px solid #64676b;
}
button.gray:hover, .button_gray:hover {
    background-color: #96989b;
    background: -webkit-linear-gradient(top, #eceded 0, #8b8d90 3%, #8b8d90 100%);
    background: linear-gradient(to bottom, #eceded 0, #8b8d90 3%, #8b8d90 100%);
    border: 1px solid #64676b;
}
button.gray:active, .button_gray:active {
    background-color: #64676b;
    background: -webkit-linear-gradient(top, #eceded 0, #64676b 3%, #8b8d90 99%);
    background: linear-gradient(to bottom, #eceded 0, #64676b 3%, #8b8d90 99%);
    border: 1px solid #64676b;
}


#search_interface{
	width:100%;
	margin:0px auto;
	text-align:center;
}

#container{
	width:960px;
	margin:0px auto;
}
/*990宽度页面设置*/
#wcontainer{
	width:990px;
    margin:0px auto;
}
#wPageLeft{
	float:left;
	width:722px;
	min-height:300px;
}
#wPageRight{
	float:left;
	margin-left:16px;
    width:252px;
    min-height:300px;
}
.wBoxLeft{
	border:1px solid #ccc;
	background:#fff;
}
.wBoxRight{
	border: 1px solid #ccc;
    background-color: #fff;
}
.w772{
	width:772px;
}
.show-box-hd {
	height: 20px;
	margin: 9px 0px 0px 22px;
	line-height: 20px;
	z-index: 3;
	background-color: transparent;
}

/*当前页导航*/
.crumb{
    height: 15px;
    line-height: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 15px 0px 30px 15px;
    background: #fff;
}

.footer{
	text-align: center;
	margin-top: 50px;
	padding-top: 20px;
	border-top: 1px solid #ccc;
}
.footer a{
    font-size:14px;
    padding:0px 10px;
}

/********************************************************
	                                   素材上传样式开始
********************************************************/
.container{
	position:relative;
	margin-bottom:18px;
	font-size:13px;
	background:#fff;
	width:960px;
}
.container button,
.container input,
.container textarea{
	font-size:12px;
}
.container-border{
	border:1px solid #c9c9c9;
	border-radius:4px;
	-moz-border-radius:4px;
	-wekit-border-radius:4px;
	padding:0px;
}
.container-header{
	background:#f4f4f4;
	height:14px;
	border-bottom:1px solid #c9c9c9;
}
.container-footer{
	background:#f4f4f4;
	height:14px;
	border-top:1px solid #c9c9c9;
	position:absolute;
	width:100%;
	bottom:1px;
}
.material-box{padding:15px;}
.material-box h2{
	color:#777;
	font-weight:normal;
	font-size:20px;
	margin-bottom:15px;
}
.bottom-line{border-bottom:1px solid #c9c9c9;}
.btn-info{background:#5bc0de;}
.filedset{padding:15px 0;}
.attachment-list{
	padding:5px 0;
	overflow:hidden;
}
.attachment-list li{
	padding:5px;
	overflow:hidden;	
}
.attachment-list .close{
	font-size:18px;
	color:#666;
	padding:0 5px 0 0;
	opacity:1;
	filter:alpha(opacity=100);
	-moz-opacity:1; 
	-wekit-opacity:1;
}
.color-red{color:#fe0000;}
.upload-container{display:inline-block;}
.upload-container object{
	width:86px;
	height:30px;
	cursor: pointer;
}
.uploadify-button{padding:0 12px;}
#upload-attachment object{width:70px;}
.uploadify-queue{display:none;}
.msg-width{width:480px;}
.alert{
	padding:5px;
	display:none;
}

#attachment-msg,
#thumb-msg{margin-bottom:5px;}
#attachment-msg .close,
#thumb-msg .close{font-size:20px;}
#myEditor{
	width:750px;
	height:300px;
}
.form-actions{margin-bottom:10px;}
.form-actions .btn{width:100px;}
#form-msg{margin-top:5px;}
#material-detail{
	padding:15px 0;
	min-height:115px;
	border:1px solid #c9c9c9;
}
.material-thumb-box{
	width:142px;
	padding:0 12px;
}
.material-thumb{position:relative;}
.material-thumb img{
	width:118px;
	height:118px;
}
.material-thumb .material-alt-bg{
	position:absolute;
	width:100%;
	opacity:0.5;
	filter:alpha(opacity=50);
	-moz-opacity:0.5; 
	-wekit-opacity:0.5;
	background:#000;
	height:21px;
	line-height:21px;
	top:97px;
}
.material-thumb .material-alt{
	position:absolute;
	width:100%;
	color:#fff;
	height:21px;
	text-align:center;
	line-height:21px;
	top:97px;
}
.material-thumb .material-name span{padding:0 5px;}
.text-overflow{
	display:block;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
}
.material-content-box{width:805px;}
.material-cate{
	width:52px;
	height:30px;
	line-height:30px;
	color:#fff;
	font-size:14px;
	background:#c22735;
	padding:0 2px;
	text-align:center;
	overflow:hidden;
}
.material-name{
	width:730px;
	height:30px;
	line-height:30px;
	background:#f7f5fa;
	padding:0 5px;
	margin-right:12px;
	color:#563d7c;
	font-size:16px;
	font-weight:bold;
}
.material-content{
	padding:10px 0;
	min-height:45px;
	border-bottom:1px dashed #e8e8e8;
	margin-right:12px;
	text-indent:20px;
}
.material-vnum,
.material-ctime,
.material-utime{
	height:30px;
	line-height:30px;
	color:#716b7a;
	width:250px;
}
.material-utime{
	text-align:right;
	margin-right:12px;
}
#material-versions{
	border:1px solid #c9c9c9;
	padding:0;
}
#material-versions .table th{
	border-top:none;
	background:#fcf8e3;
}
#material-versions .table .text-center{text-align:center;}
#material-versions a{
	color:#08c;
	font-size:13px !important;
}
#material-op a {
	color:#fff;
	font-size:13px !important;
}
.separator{color:#893389;font-size:12px;padding:0 2px;}
#material-op{
	min-height:0;
	text-align:right;
	background:none;
}
#attachment-box{position:relative;}
#up-down{
	position:absolute;
	left:400px;
	width:104px;
	height:18px;
	cursor:pointer;
}
.up{
	top:-15px;
	background:url(../img/up-down.png) 0 0 no-repeat;
}
.down{
	top:0;
	background:url(../img/up-down.png) 0 -18px no-repeat;

}
#material-detail-box{display:none;}
.select-user-box .modal-dialog{width:500px;}
#search-user-result{
	display:none;
	margin:1px 0 15px 56px;
	position:static;
}
#select-user-result{
	padding:5px;
	border:1px solid #ccc;
	margin-top:10px;
	overflow:hidden;
}
#select-user-result .select-list-text{
	width:50px;
	float:left;
}
#select-user-result .select-list{ 
	width:370px;
	float:left;
}
#select-user-result .select-list .select-list-item{
	float:left;
	padding:0 5px;
}
/*列表样式开始*/
.oneMaterail{
	border:1px solid #ccc;
	padding:10px;
	background:#fff;
	margin-top:10px;
}
.oneMaterail .mlogo{
    width:142px;
    height:142px;
    padding:10px;
    border-top:1px solid #9a9a9a;
    border-left:1px solid #9a9a9a;
    border-right:1px solid #eeeeee;
    border-bottom:1px solid #eeeeee;
    background:#f5f8fa;
    float:left;
}
.mdetail{
    float:left;
    margin-left:20px;
    width:776px;
}

.oneMaterail .mlogo img{
    border:0;
    width:118px;
    height:118px;
}
.oneMaterail .mtitle{
    padding-bottom:10px;
    margin-bottom:10px;
    border-bottom:1px solid #e5e5e5;
}
.oneMaterail .mtitle a{
    color:#333;
    font-weight:bold;
}
.oneMaterail li{
    float:left;
}
.oneMaterail .mtime, .oneMaterail .minfo{
    color:#555;
    font-size:14px;
    font-weight:bold;
}
.oneMaterail .mtime li{
    width:200px;
}
.oneMaterail .minfo li{
    width:200px;
}
.mcontent{
    font-size:14px;
    line-height:24px;
    margin-top:5px;
    height:48px;
    width:776px;
    overflow:hidden;
}
/*列表样式结束*/

/*通用按钮样式*/
.mbtn{
	padding:10px 20px;
	border:1px solid #ccc;
	background:#fff;
}
.disable:hover{
	color:#555;
	cursor:default;
}
/*通用按钮样式结束*/